html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:hover, .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus {
    box-shadow: 0 0 0 0.1rem red, 0 0 0 0.25rem darkred;
    background-color: black;
    
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('../img/background.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
div.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
div.modal-content {
    color: red;
    background-color: #272727;
}
input.form-control:focus {
    box-shadow: unset;
    background-color: white;
}
div.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1.navbar-brand {
    color: black;
    font-weight: 200;
    font-family: Apple Chancery, cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer {
    background-color: darkred;
    height: 10px;
}
nav#headbar {
    background-color: darkred;
    display: flex;
    flex-direction: row;
    width: 100vw;
}
header {
  background-color: darkred;
    width: 100vw;
}
div.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    background-color: darkred;
    border-color: red;
}

div.containerDashboard {
    border: 2px solid darkred;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div.taskBar {
    border: 2px solid darkred;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
}

div.mailContainer {
    border: 2px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: white;
}

div.options {
    border: 2px solid darkred;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.mail {
    border: 2px solid darkred;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    overflow-y: scroll;
}
div.mailPackets {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272727;
    color: white;
    width: 100%;
}