html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:hover, .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem red, 0 0 0 0.25rem darkred;
    background-color: black;
    
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('../img/background.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
div.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
div.modal-content {
    color: darkred;
    background-color: darkgray;
}
input {
    color: gray;
}
div.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer {
    background-color: darkred;
    width: 100vw;
}
header {
  background-color: darkred;
}
div.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    background-color: darkred;
    border-color: red;
}