html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:hover, .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus {
    background-color: black;
    
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('../img/background.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

input.form-control:focus {
    box-shadow: unset;
    background-color: white;
}
h1.navbar-brand {
    color: black;
    font-weight: 200;
    font-family: 'Helvetica', sans-serif;
}

main {
    display: flex;
    
}
h1#Title.navbar-brand.text-light {
    margin: unset;
}
a.nav-link.text-light {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
#headerWithIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer {
    background-color: darkred;
    height: 10px;
}
#headbar {
    background-color: darkred;
    width: 100vw;
}
div.container-fluid {
    width: 100%;
    display: flex;
    
}
ul.navbar-nav.flex-grow-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 2.5%;
}
div.messageHeader {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    
}
div.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.modal-content {
    color: white;
    background-color: #272727;
}

div.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.modal-body {
    background-color: #272727
}
div.modal-content.modal-content-html {
    width: 150%;
}
div.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    background-color: darkred;
    border-color: red;
}

div.containerDashboard {
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75vw;
}

div.taskBar {
    border: 2px solid white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
}

div.mailContainer {
    border: 2px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: white;
}

div.compose {
    border: 2px solid white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.mail {
    border: 2px solid white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #555;
    scrollbar-width: thin;
}
div.mailPackets {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
button.button-3d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3f3f3d;
    color: white;
    width: 100%;
    border-radius: 7px;
    gap: 5px;
}

button#composeMessageButton {
    height: 10%;
    justify-self: center;
}
